<p id="notice"><%= notice %></p>
<%= search_form_for @q do |f| %>
      <%= sort_link(@q, :deadline, 'deadline', default_order: :desc) %>
      <%= sort_link(@q, :priority, 'priority', default_order: :desc) %>
  <%= f.label :title %>
  <%= f.search_field :task_name_cont, placeholder: "title" %>
  <%= f.label :status %>
  <%= f.search_field :status_cont, placeholder: 'Status' %>
  <%= f.submit "search" %>
<% end %>
<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Task name</th>
      <th>Task detail</th>
        <th>Expiration date</th>
        <th>Status</th>
        <th>Priority</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.task_name %></td>
        <td><%= task.task_detail %></td>
        <td><%= task.expiration_date %></td>
        <td><%= task.status %></td>
        <% if task.priority==1 %>
            <td>High</td>
        <% elsif task.priority==2%>
            <td>Medium</td>
        <% elsif task.priority==3 %>
            <td>Low</td>
        <% end %>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
  <%= paginate @tasks %>
