<!DOCTYPE html>
<html>
  <head>
    <title>ManyoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="first">
        <button type="button" class="btn btn-warning btn-xs"><%= link_to "Task", tasks_path %></button>
      <button type="button" class="btn btn-primary btn-xs"><%= link_to "New Task", new_task_path %></button>
      </div>
</header>
    <%= yield %>
    <footer class="footer">
    <p>Copyright © 2020 task management system inc, All RIGHTS RESERVED.</p>
  </footer>
  </body>
</html>
